@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color-light: #19A7CE;
  --primary-color-dark: #146C94;
  --text-color: #F6F1F1;
  --text-dark: #000000;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #c1e0ff;
}

* {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--primary-color-light) !important;
  height: 50px;
}

.navbar a {
  color: var(--text-color) !important;
  font-weight: 700;
}

.card {
  background-image: radial-gradient(circle, #cdf5fd, #c5f3fd, #bdf1fd, #b4eefe, #acecfe, #9de6fe, #8de0fe, #7edaff, #64cfff, #49c3ff, #2cb6ff, #00a9ff);
  color: #3f3f3f;
  border: 0;
}

.card:hover {
  background-color: var(--primary-color-dark);
  color: #747474;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.card.panting {
  background-color: #fff !important;
}